body {
    background-color: #f1f7fc ;
}
.calendar {
    position: relative;
}
.calendar__table { 
    width: 100%;
    height: calc(100vh - 128px);
}
a .btn {
    background-color: #343a40;
}
.calendar__table td {
    padding: 10px;
    border: 1px solid #ccc;
    vertical-align: top;
    width: 14.29%;
    height: 20%;
}
.calendar__table td.is-today {
    background-color: #e2e2e2;
}
.calendar__table--6weeks td {
    height: 16.66%;

}
.calendar__weekday {
    font-weight: bold;
    color: #000;
    font-size: 1.2em;
}
.calendar__day {
    font-size: 1.3em;
    color: #343a40;
    transition: font-size 300ms;
}
.calendar__day:hover {
    color: black;
    font-size: 2em;
    text-decoration: none;
}
.calendar__othermonth .calendar__day {
    opacity: 40%;
}
.calendar__button {
    display: block;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    color: #FFF;
    font-size: 30px;
    background-color: #343a40;
    border-radius: 50%;

    box-shadow: 0 6px 10px 0 #0000001a, 0 1px 18px #0000001a, 0 3px 5px -1px #0003;
    position: absolute;
    bottom: 30px;
    right: 30px;
    text-decoration: none;
    transition: transform 0.3s;

}
.calendar__button:hover {
    text-decoration: none;
    color: #FFF;
    transform: scale(1.2);
    background-color: black;
}
 .event {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    font-size: 50px;
    border: 1px solid #000;
    background-color: #343a40;
    color: #f1f7fc;
}
 .description {
    display: flex;
    justify-content: space-around;
    padding: 3%;
    font-size: 20px;
    border: 1px solid #000;
    background-color: #343a40;
    color: #f1f7fc;
}