* {
 font-family: Lora;
}
body {
	background-color: #eef4f7;
}
.name {
	display: flex;
	justify-content: center;
	color: #fff;
	font-size: 17px;
	align-items: center;
	padding-left: 10%;
	flex-direction: row;
	transition: font-size 300ms ease;
	font-size: 40px;
}
@media screen and (max-width: 500px) {
  .phot, .phots {
    height: auto !important;

  } .name, .description, .title {
	  font-size: 15px;
  }
}
@media screen and (max-width: 500px) {
	.img-fluid {
	  height: 250px !important;
	}
  }
  @media screen and (max-width: 500px) {
	.phot, .phots {
	  height: auto !important;
	}
  }

.name.sticky {
	font-size: 12px;
}
.user {
	display: flex;
	align-content: center;
	margin-left: 43%;
	margin-bottom: 3%;
}
.user2 {
	display: flex;
	align-content: center;
	margin-left: 43%;
	margin-bottom: 15%;
}
 .title_user {
	 display: flex;
	 justify-content: center;
 }
 .title_horse {
	display: flex;
	justify-content: center;
	margin-top: 2%;
	margin-bottom: 5%;
	border: 5px solid black;
}
 .user_profile {
	 display: flex;
	 justify-content: center;
	 align-content: center;
	 margin: 2%;
	 border: 10px solid black;
 }
 .row {
	 margin-left: 0;
	 margin-right: 0;
 }


    
.navbar {
	padding : 12px;
	transition: padding 200ms ease;
}

.navbar.sticky {
	padding: 2px;
}

.content {
    margin-top: 80px;
    padding: 20px;

}
.btn {
	background-color: #343a40 !important;
	border: #343a40;
}

.btn:hover {
	background-color: black;
}
.pad {
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-top: 0;
}
.facolor {
	color: #343a40;

}
div {
	background-size: 100%;
}

.image_fond_responsive { 
	width: 100%;
	height:100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	}
.image_fond_responsive2 { 
	width: 100%;
	height:100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	}


.menuu .container,.container-lg,.container-md,.container-sm,.container-xl{
	max-width:100%;
}
.mobilebox {
	min-height: 600px;
}
.highlight-clean {
	padding: 50px 0px;
	padding-top: 17%;
}
.phot {
	max-width:100%;
	height: 600px;
	border: 5px solid black;
}
.phots {
	max-width:100%;
	height: 600px;
	border: 5px solid black;
}
.fd {
	-ms-flex:0 0 50%;
	flex:0 0 100%;
	max-width:100%;
}
.map {
	margin-top:18.6%;
}
.ik {
	max-width:100%;
	height: 300px;
}
.horsefb {
	margin-right: 30%;
}
.fb {
	margin-top:110px;
	min-width:462px;
	padding-left: 9%;
}
.fontt {
	font-size: 20px;
}
.cadre {
	margin-top: 5%;
	padding-left: 2%;
	padding-right: 3%;	
}
.Loa {
	font-family: Loa !important;
}

@media screen and (max-width: 500px) {
		.wid {
		  min-width: none !important;
		}
	  }
@media screen and (max-width: 530px) {
		.mobilebox {
		  min-height: 0px !important;
		}
		.reseausociaux {
			margin-right: 0;
			margin-left: -135px;
		}
		.fb-page {
			padding-left: 24%;
		}
		.horsefb {
			padding-left: 80%;
		}
		.highlight-clean {
			padding: 50px 0px;
			padding-top: 455px !important;
		}

		.map-clean {
			width: 300px;
		}
		.horsefb {
			height: 20px;
		}
		.footer-dark {
			width: 100%;
		}
		.col-xl-5 {
			flex: 0 0 33.333333%;
			max-width: 33.33333%;
		}
		.image_fond_responsive {
			background: #282d32 !important;
		}
		.image_fond_responsive2 {
			background: #eef4f7 !important;
		}
		
	  }
	  @media screen and (max-width: 1499px) {
		.fb {
		 margin-top: 72px !important;
		}
	  }
	  @media screen and (max-width: 1499px) {
		.map-clean {
		 max-width: 400px;
		}
		.highlight-clean {
			padding:323px 0px;
		}
		.mobilebox {
		  min-height: 400px;
		}
		.name,.title,.description {
			font-size: 25px;
		}
		.horsefb {
			margin-right: 0;
		}
		.resizemap {
			margin-top: 4.4%;
		}
		.fontmenu {
			font-size: 11px;
		}
	  }
	  
	  @media screen and (max-width: 1499px) and (min-width: 1200px) {
		.reseausociaux {
		 margin-right: 100px;
		}
	  }
	  @media screen and (max-width: 1499px) {
		.col-md-3 {
		 max-width: 33.333333% !important;
		 flex: 0 0 33.333333%;
		}
		.highlight-clean {
			padding: 50px 0px;
			padding-top: 12%;
		}
		.reseausociaux {
			padding-top: 4%;
		}
		.backgroundf {
			margin-top: 200px;
		}
	  }
	  @media screen and (max-width: 1256px) {
		.col-md-3 {
		 max-width: 50% !important;
		 margin-left: 5% ;
		}
		.fb {
			margin-top: 23%;
		}
		.cent {
			margin-left: 37%; 
		}
		.centh3 {
			margin-left: 20%;
		}
	  }
	  @media screen and (max-width: 450) {
		.reseausociaux {
			min-width: 100px;
		
		}
		.col-md-3 {
			margin-right: 20% !important;
		}
	  }
